<% layout('./layouts/boilerplate.ejs')  -%> 
<div class="container-fluid coaches-main p-0">
    <div class="row">
        <div class="col-md-8 offset-md-2 carousel">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% coaches.forEach((coach, i) => { %>
                        <div class="carousel-item <%= i === 0 ? 'active' : '' %> ">
                            <img src="<%= coach.URL %>" class="img-fluid rounded" alt="Gee">
                            <div class="carousel-caption d-none d-md-block">
                                <h3 class="carousel-text"><%= coach.Coach  %> </h3>
                                <p class="carousel-text fs-4"> <%= coach.Coach %> has been with us for over <%= coach.Years %> years and specializes in <%= coach.Specialty %>.</p>
                            </div>
                        </div>
                    <% }) %> 
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-md-2 g-5 mt-5">
            <% for (coach of coaches ){ %> 
                <div class="col">
                    <div class="card text-center">
                        <img src="<%= coach.URL %>" class="card-img-top rounded" alt="<%= coach.Coach %> ">
                        <div class="card-body">
                            <p class="card-text"><%= coach.Coach %> is a specialist in <%= coach.Specialty %>, and they have been with us for over <%= coach.Years %> years we look forward to having you meet us!</p>
                            <a href="#" class="btn btn-primary">Schedule with <%= coach.Coach %> </a>
                        </div>
                    </div>
                </div>
            <% } %> 
        </div>
    </div>
</div>
